# Blockchain (Hardhat / Next.js)
NEXT_PUBLIC_POLYGON_AMOY_RPC=https://rpc-amoy.polygon.technology
PRIVATE_KEY=your_wallet_private_key_here
POLYGONSCAN_API_KEY=your_polygonscan_api_key_here

# IPFS Integration
NFT_STORAGE_API_KEY=your_nft_storage_api_key_here

# AI / ML Validations (FastAPI)
GEE_SERVICE_ACCOUNT_EMAIL=your_gee_service_account@appspot.gserviceaccount.com
GEE_PRIVATE_KEY_JSON_PATH=./google_earth_engine_keys.json

# CCTS Configuration
BEE_CCTS_API_ENDPOINT=https://ccts.bee.gov.in/api/v1/mock # Placeholder
